<section class="bg-white dark:bg-neutral-950">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
        No reinventamos el fútbol, lo organizamos mejor
      </h2>
      <p class="mb-4">
        En Cancha+ creemos que cada partido merece organización y que cada cliente merece ser
        valorado. Por eso desarrollamos una plataforma simple, rápida y confiable para gestionar
        reservas de canchas y recompensar la lealtad de los jugadores.
      </p>
      <p>
        Nuestra misión es digitalizar la administración deportiva en Piura y ofrecer a los clientes
        una experiencia fácil, segura y motivadora.
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <img
        class="w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png"
        alt="office content 1"
      />
      <img
        class="mt-4 w-full lg:mt-10 rounded-lg"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png"
        alt="office content 2"
      />
    </div>
  </div>
</section>
