<div class="bg-[#121212] flex justify-center align-center h-auto w-full">
    <div class="max-w-[90%] mt-8 w-full">
        <div class="flex flex-wrap justify-between gap-4 p-4 items-end">
            <div class="flex min-w-72 flex-col gap-2">
                <h1 class="text-white text-4xl font-black leading-tight tracking-[-0.033em]">Panel de
                    Gestión</h1>
                <p class="text-[#A0A0A0] text-base font-normal leading-normal">Gestiona todos los
                    registros de clientes en un solo lugar.</p>
            </div>
        </div>
        @if(!solicitudes){
        <div class="flex justify-center items-center flex-col">
            <span class="material-symbols-outlined spinner text-[#84cc16] !text-[200px] select-none">
                autorenew
            </span>
            <p class="text-[15px] text-[#84cc16] text-center">Recuperando información...</p>
        </div>
        }@else{
        @if(solicitudes.length===0){
        <p class="col-span-2 text-center text-gray-400 my-5 italic">
            No tienes solicitudes pendientes por administrar
        </p>
        }@else {
        <div class="flex flex-col md:flex-row justify-between gap-4 px-4 py-5 items-center">
            <div class="flex gap-2">
                <button
                    class="cursor-pointer p-2.5 rounded-lg bg-[#1E1E1E] text-[#E0E0E0] hover:bg-white/10 transition-colors">
                    <span class="material-symbols-outlined" style="font-size: 22px;">filter_list</span>
                </button>
                <button
                    class="cursor-pointer p-2.5 rounded-lg bg-[#1E1E1E] text-[#E0E0E0] hover:bg-white/10 transition-colors">
                    <span class="material-symbols-outlined" style="font-size: 22px;">download</span>
                </button>
            </div>
        </div>
        <div class="px-4 py-3 @container">
            <div class="flex overflow-hidden rounded-lg border border-white/10 bg-[#1E1E1E]">
                <table class="w-full text-left">
                    <thead class="border-b border-b-white/10">
                        <tr class="bg-[#1E1E1E]">
                            <th
                                class="table-col-1 px-6 py-4 text-left text-[#A0A0A0] w-[20%] text-xs font-medium uppercase tracking-wider">
                                Nombre</th>
                            <th
                                class="table-col-2 px-6 py-4 text-left text-[#A0A0A0] w-[15%] text-xs font-medium uppercase tracking-wider">
                                Teléfono</th>
                            <th
                                class="table-col-3 px-6 py-4 text-left text-[#A0A0A0] w-[40%] text-xs font-medium uppercase tracking-wider">
                                Motivo</th>
                            <th
                                class="table-col-4 px-6 py-4 text-left text-[#A0A0A0] w-[20%] text-xs font-medium uppercase tracking-wider">
                                Experiencia</th>
                            <th
                                class="table-col-5 px-6 py-4 text-right text-[#A0A0A0] w-[5%] text-xs font-medium uppercase tracking-wider">
                                Acción</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-white/10">
                        @for(solicitud of solicitudes;track $index){
                        <tr class="hover:bg-white/5 transition-colors">
                            <td
                                class="table-col-1 h-[72px] px-6 py-4 whitespace-nowrap text-[#E0E0E0] text-sm font-medium">
                                {{solicitud.nombre}}</td>
                            <td class="table-col-2 h-[72px] px-6 py-4 whitespace-nowrap text-[#A0A0A0] text-sm">
                                {{solicitud.telefono}}</td>
                            <td class="table-col-3 h-[72px] px-6 py-4 whitespace-nowrap text-[#A0A0A0] text-sm">
                                {{solicitud.motivo}}</td>
                            <td class="table-col-4 h-[72px] px-6 py-4 whitespace-nowrap text-[#A0A0A0] text-sm">
                                {{solicitud.experiencia}}
                            </td>
                            <td class="table-col-5 h-[72px] px-6 py-4 whitespace-nowrap text-sm text-right">
                                <button (click)="verDetalle(solicitud.id || '')"
                                    class="cursor-pointer text-[#39FF14] font-bold">Ver
                                    Detalle</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex items-center justify-center p-4 mt-4">
            <nav class="flex items-center gap-2">
                <a class="flex size-10 items-center justify-center text-gray-400 hover:text-white transition-colors"
                    href="#">
                    <span class="material-symbols-outlined" style="font-size: 20px;">chevron_left</span>
                </a>
                <a class="text-sm font-bold leading-normal tracking-[0.015em] flex size-10 items-center justify-center text-black rounded-full bg-[#39FF14]"
                    href="#">1</a>
                <a class="text-sm font-normal leading-normal flex size-10 items-center justify-center text-white rounded-full hover:bg-white/10 transition-colors"
                    href="#">2</a>
                <a class="flex size-10 items-center justify-center text-gray-400 hover:text-white transition-colors"
                    href="#">
                    <span class="material-symbols-outlined" style="font-size: 20px;">chevron_right</span>
                </a>
            </nav>
        </div>}
        }
    </div>
</div>