<header
    class="flex bg-[#121212] items-center justify-between whitespace-nowrap border-b border-solid border-white/10 px-4 py-4">
    <div class="flex items-center gap-8">
        <a routerLink="/admin/home/solicitudes" class="flex cursor-pointer items-center gap-4 text-white">
            <div class="size-10  text-[#39FF14]">
                <img src="/assets/icons/logo.png" alt="logo">
            </div>
            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Gestión de
                Registros</h2>
        </a>
    </div>
    <div class="flex flex-1 items-center justify-end gap-4 md:gap-6">
        <label class="hidden md:flex flex-col min-w-40 h-10 max-w-64">
            <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
                <div
                    class="text-gray-400 flex border-none bg-[#1E1E1E] items-center justify-center pl-3 rounded-l-lg border-r-0">
                    <span class="material-symbols-outlined" style="font-size: 20px;">search</span>
                </div>
                <input
                    class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-2 focus:ring-[#39FF14]/50 border-none bg-[#1E1E1E] h-full placeholder:text-gray-400 px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                    placeholder="Buscar..." value="" />
            </div>
        </label>
        <div class="flex gap-2">
            <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#1E1E1E] text-gray-300 hover:text-white transition-colors gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5">
                <span class="material-symbols-outlined" style="font-size: 20px;">notifications</span>
            </button>
            <button (click)="onLogout()"
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#1E1E1E] text-red-700 hover:text-red-500 transition-colors gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5">
                <span class="material-symbols-outlined" style="font-size: 20px">logout</span>
            </button>
        </div>
    </div>
</header>