<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 text-white">
        Pensado para jugadores y organizadores
      </h2>
      <p class="text-white sm:text-xl">
        En Cancha+ transformamos la forma en que reservas y disfrutas el deporte, conectando a
        jugadores, equipos y canchas en un solo lugar
      </p>
    </div>
    <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-lime-600 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-6 h-6 text-dark"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M17.133 12.632v-1.8a5.407 5.407 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V3.1a1 1 0 0 0-2 0v2.364a.933.933 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C6.867 15.018 5 15.614 5 16.807 5 17.4 5 18 5.538 18h12.924C19 18 19 17.4 19 16.807c0-1.193-1.867-1.789-1.867-4.175Zm-13.267-.8a1 1 0 0 1-1-1 9.424 9.424 0 0 1 2.517-6.391A1.001 1.001 0 1 1 6.854 5.8a7.43 7.43 0 0 0-1.988 5.037 1 1 0 0 1-1 .995Zm16.268 0a1 1 0 0 1-1-1A7.431 7.431 0 0 0 17.146 5.8a1 1 0 0 1 1.471-1.354 9.424 9.424 0 0 1 2.517 6.391 1 1 0 0 1-1 .995ZM8.823 19a3.453 3.453 0 0 0 6.354 0H8.823Z"
            />
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold text-white">Gestión de reservas</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Administra horarios y disponibilidad de canchas de manera fácil y sin conflictos.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-lime-600 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-6 h-6 text-dark"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M9 7V2.221a2 2 0 0 0-.5.365L4.586 6.5a2 2 0 0 0-.365.5H9Zm2 0V2h7a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Zm-1 9a1 1 0 1 0-2 0v2a1 1 0 1 0 2 0v-2Zm2-5a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Zm4 4a1 1 0 1 0-2 0v3a1 1 0 1 0 2 0v-3Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold text-white">Reportes</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Lleva un control claro de tus ingresos, gastos y ganancias con reportes detallados y
          fáciles de entender.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-lime-600 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-6 h-6 text-dark"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M4 5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2H4Zm0 6h16v6H4v-6Z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M5 14a1 1 0 0 1 1-1h2a1 1 0 1 1 0 2H6a1 1 0 0 1-1-1Zm5 0a1 1 0 0 1 1-1h5a1 1 0 1 1 0 2h-5a1 1 0 0 1-1-1Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold text-white">Pagos digitales</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Ofrece múltiples métodos de pago seguros y rápidos.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-lime-600 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-6 h-6 text-dark"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2.7"
              d="M10 21v-9m3-4H7.5a2.5 2.5 0 1 1 0-5c1.5 0 2.875 1.25 3.875 2.5M14 21v-9m-9 0h14v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-8ZM4 8h16a1 1 0 0 1 1 1v3H3V9a1 1 0 0 1 1-1Zm12.155-5c-3 0-5.5 5-5.5 5h5.5a2.5 2.5 0 0 0 0-5Z"
            />
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold text-white">Recompensas</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Fideliza a los jugadores con un sistema de puntos y beneficios exclusivos por cada partido
          reservado y jugado.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-lime-600 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-6 h-6 text-dark"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M5 4a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V4Zm12 12V5H7v11h10Zm-5 1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold text-white">Experiencia de usuario</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Interfaz moderna para que todos disfruten de una gestión sencilla.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-lime-600 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-6 h-6 text-dark"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold text-white">Seguridad y confianza</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Cancha+ protege tus datos y garantiza una experiencia transparente para organizadores y
          jugadores.
        </p>
      </div>
    </div>
  </div>
</section>
