@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&amp;display=swap');
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

@theme {
  
}

@layer {
  .btn-calendar-controls {
    @apply 
      px-3 py-1.5 
      rounded-md 
      bg-lime-700 
      text-white 
      font-medium 
      transition-colors duration-300 
      hover:bg-lime-600 
      hover:text-white 
      hover:shadow-md 
      cursor-pointer;
  }
}

