<div
  class="relative w-full border-0 sm:border border-lime-700 px-6 pt-10 pb-8 mt-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-2xl sm:rounded-lg sm:px-10"
>
  <div class="mx-auto px-5">
    <div class="flex flex-col items-center">
      <h2 class="mt-5 text-center text-lime-600 text-3xl font-bold tracking-tight md:text-5xl">
        FAQ
      </h2>
      <p class="mt-3 text-lg text-neutral-500 md:text-xl">Resolvemos tus dudas más comunes</p>
    </div>
    <div class="mx-auto mt-8 grid max-w-xl divide-y divide-lime-800">
      <div class="py-5">
        <details class="group">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
            <span class="text-white">¿Cómo puedo registrarme en la plataforma?</span>
            <span class="transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                class="stroke-lime-600"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                width="24"
              >
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="group-open:animate-fadeIn mt-3 text-white">
            Solo necesitas crear una cuenta con tu nombre, correo electrónico y contraseña para
            empezar a reservar.
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
            <span class="text-white">¿Cómo reservo una cancha?</span>
            <span class="transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                class="stroke-lime-600"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                width="24"
              >
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="group-open:animate-fadeIn mt-3 text-white">
            Desde tu cuenta selecciona la sede, la cancha y el horario disponible. El sistema
            validará que no haya reservas duplicadas.
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
            <span class="text-white">¿Cómo funciona el sistema de recompensas?</span>
            <span class="transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                class="stroke-lime-600"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                width="24"
              >
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="group-open:animate-fadeIn mt-3 text-white">
            Cada vez que pagues una reserva acumularás puntos automáticamente. Luego podrás
            canjearlos por descuentos o beneficios .
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
            <span class="text-white">¿Puedo cancelar o modificar mi reserva?</span>
            <span class="transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                class="stroke-lime-600"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                width="24"
              >
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="group-open:animate-fadeIn mt-3 text-white">
            Sí, desde tu historial puedes solicitar cambios o cancelaciones, de acuerdo con las
            políticas de cada cancha .
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
            <span class="text-white">¿Puedo ver el historial de mis reservas pasadas?</span>
            <span class="transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                class="stroke-lime-600"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                width="24"
              >
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="group-open:animate-fadeIn mt-3 text-white">
            Sí, puedes consultar todas tus reservas anteriores y exportarlas en Excel .
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
            <span class="text-white">¿Dónde veo mis puntos acumulados?</span>
            <span class="transition group-open:rotate-180">
              <svg
                fill="none"
                height="24"
                shape-rendering="geometricPrecision"
                class="stroke-lime-600"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                width="24"
              >
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="group-open:animate-fadeIn mt-3 text-white">
            En tu perfil encontrarás tu saldo de puntos y las recompensas disponibles para canje .
          </p>
        </details>
      </div>
    </div>
  </div>
</div>
